{% extends 'base.html' %}
{% block title %}
    Books
{% endblock title %}
{% block content %}
<div class="px-3 list-unstyled text-center  align-items-center" >
    {% for book in book_list %} 
       <div class=" alert alert-secondary" role="alert">
            <h2 class="">
                <li class="">                    
                    <a class=" list-unstyled  text-decoration-none text-dark " href="{{ book.get_absolute_url }}">{{ book.title }}</a> 
                </li>
            </h2>
        </div>
    {% endfor %}
</div> 
{% endblock content %}
